<%- include partials/header.ejs %>

<%- include partials/main-nav.ejs %>
<main class="container">
    <div class="clearfix mt-5 bg-light glass p-5 ">
        <img src="/images/selfie.jpg" style="border-radius: 50%;width:400px;height:400px" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
      
        <h1 class="display-4">David Pietrocola</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">David Pietrocola</li>
            <li class="list-group-item"><p>Hi! I am a student of Software Engineering Technology at Centennial College. Currently in Toronto, Canada. I am a passionate developer, with a strong interest in web development. </p>
        </li>
          </ul>
       <a class="nav-link" href="/images/resume.pdf" target="_blank"><button type="button" class="mt-5 btn btn-primary ms-5">Resume</button></a>   
      </div>
</main>
<%- include partials/bottom-nav.ejs %>
</body>

<% include partials/footer.ejs %>   